#
# Private key 
#
# WARNING: This account is from hardhat Account #0, and it's private key, is publicly known.
# Any funds sent to it on Mainnet or any other live network WILL BE LOST.
export PRIVATE_KEY_LOCAL="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80" 

export ENVIRONMENT="testnet"
# export ENVIRONMENT="mainnet"

# Minimum balance threshold in ETH
export EXECUTOR_MIN_BALANCE_THRESHOLD_ETH="1"  # Default= 3 ETH

# Enable or disable the arbitrage strategy
export EXECUTOR_USE_ARBITRAGE_STRATEGY= "true"
export ARBITRAGE_STRATEGY= "{}"  # Default: empty JSON object

# Enabled networks for the executor
export EXECUTOR_ENABLED_NETWORKS= "arbitrum-sepolia,base-sepolia,optimism-sepolia,monad-testnet,unichain-sepolia"  # Default: specified networks

# Enabled assets for the executor
# export EXECUTOR_ENABLED_ASSETS= "eth,t3eth,t3usd,t3btc,t3mon,t3sei,mon,sei,bnb,t3sol,lrn,bera,t3tia"  # Default: specified assets
export EXECUTOR_ENABLED_ASSETS= "eth"  


export LOG_LEVEL="info"
export LOG_PRETTY="false" # required for binary to work properly

#
# Pending Orders
# Enable or disable order processing
export EXECUTOR_PROCESS_ORDERS_ENABLED="true"  # Default: true

# Pending orders processing via API
export EXECUTOR_PROCESS_ORDERS_API_ENABLED="true"  # Default: true
export EXECUTOR_PROCESS_ORDERS_API_INTERVAL_SEC="10"  # Default: 10 seconds

#
# Pending Executions
# Enable or disable pending executions processing
export EXECUTOR_PROCESS_PENDING_EXECUTIONS_ENABLED="true"  # Default: true

# Pending executions processing via API
export EXECUTOR_PROCESS_PENDING_EXECUTIONS_API_ENABLED="true"  # Default: true
export EXECUTOR_PROCESS_PENDING_EXECUTIONS_API_INTERVAL_SEC="10"  # Default: 10 seconds

# Halt execution based on a specific ratio
export EXECUTOR_HALT_BASED_ON_RATIO="false"  # Default: false

# Enable or disable ad-hoc execution
export EXECUTOR_AD_HOC_EXECUTE="true"  # Default: true
